aclocal.m4
autoscan.log
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.scan
configure.scan~
depcomp
.deps
install-sh
Makefile
Makefile.in
missing
*.o
src/sexec
stamp-h1
